h1 {
    color:red
}
* {
    border:solid
}
.header{
    display: flex;
    background-color:red;
    justify-content: space-between;
    align-items: center;
}
.grid{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-shrink: 3;

}
.footer{
    display: flex;
    justify-content: flex-end;
    flex-grow: 3;
    flex-wrap: wrap-reverse;

}